[project]
	description = PHP class/library to use XenServer API (via xml-rpc)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gcivitella
[access "refs/for/refs/*"]
	read = group user/gcivitella
	push = group user/gcivitella
	label-Code-Review = -2..+2 group user/gcivitella
	label-Verified = -1..+1 group user/gcivitella
	rebase = group user/gcivitella
	removeReviewer = group user/gcivitella
	submit = group user/gcivitella
[access "refs/heads/*"]
	read = group user/gcivitella
	create = group user/gcivitella
	push = +force group user/gcivitella
	pushMerge = group user/gcivitella
[access "refs/tags/*"]
	push = group user/gcivitella
	push = +force group user/gcivitella
